In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier

In [2]:
train_df=pd.read_csv('D:\\AI_DataScience\\titanic\\train.csv', index_col='PassengerId')
test_df=pd.read_csv('D:\\AI_DataScience\\titanic\\test.csv', index_col='PassengerId')

In [3]:
train_df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [ ]:
train_df['Age']=train_df['Age'].fillna(train_df['Age'].median())
#

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [9]:
train_df['Embarked']=train_df['Embarked'].fillna(train_df['Embarked'].mode()[0])
test_df['Embarked']=test_df['Embarked'].fillna(test_df['Embarked'].mode()[0])

In [14]:
train_df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
categogy=['Pclass','Sex','SibSp','Parch']

In [36]:
def categogy_encode(df,categogy):
    for i in categogy:
        df[i]=df[i].astype('category').cat.codes
categogy_encode(train_df,categogy)
categogy_encode(test_df,categogy)

In [46]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int8
 1   Pclass    891 non-null    int8
 2   Name      891 non-null    object
 3   Sex       891 non-null    int8
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int8
 6   Parch     891 non-null    int8
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  891 non-null    int64
dtypes: float64(2), int64(1), int8(5), object(3)
memory usage: 53.1+ KB

In [45]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int8
 1   Name      418 non-null    object
 2   Sex       418 non-null    int8
 3   Age       418 non-null    float64
 4   SibSp     418 non-null    int8
 5   Parch     418 non-null    int8
 6   Ticket    418 non-null    object
 7   Fare      417 non-null    float64
 8   Cabin     91 non-null     object
 9   Embarked  418 non-null    int64
dtypes: float64(2), int64(1), int8(4), object(3)
memory usage: 24.5+ KB

In [41]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
train_df['Embarked']=le.fit_transform(train_df['Embarked'])
test_df['Embarked']=le.fit_transform(test_df['Embarked'])

In [47]:
train_df['Survived']=train_df['Survived'].astype('category').cat.codes

In [48]:
X=train_df.drop(columns=['Survived','Name','Ticket','Cabin'])

In [50]:
y=train_df['Survived']

In [51]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [81]:
model=XGBClassifier(n_estimators=1000, learning_rate=0.05,early_stopping_rounds=50 ,max_depth=5,n_jobs=-1, random_state=42)

In [83]:
model.fit(X_train, y_train,eval_set=[(X_test, y_test)])

[0]	validation_0-logloss:0.65786
[1]	validation_0-logloss:0.63723
[2]	validation_0-logloss:0.61840
[3]	validation_0-logloss:0.60169
[4]	validation_0-logloss:0.58626

[5]	validation_0-logloss:0.57212
[6]	validation_0-logloss:0.55934
[7]	validation_0-logloss:0.54860
[8]	validation_0-logloss:0.53808
[9]	validation_0-logloss:0.52902
[10]	validation_0-logloss:0.52107
[11]	validation_0-logloss:0.51384
[12]	validation_0-logloss:0.50665
[13]	validation_0-logloss:0.49977
[14]	validation_0-logloss:0.49328
[15]	validation_0-logloss:0.48753
[16]	validation_0-logloss:0.48147
[17]	validation_0-logloss:0.47586
[18]	validation_0-logloss:0.47230
[19]	validation_0-logloss:0.46782
[20]	validation_0-logloss:0.46310
[21]	validation_0-logloss:0.45985
[22]	validation_0-logloss:0.45664
[23]	validation_0-logloss:0.45393
[24]	validation_0-logloss:0.45103
[25]	validation_0-logloss:0.44898
[26]	validation_0-logloss:0.44681
[27]	validation_0-logloss:0.44437
[28]	validation_0-logloss:0.44231
[29]	validation_0-logloss:0.44044
[30]	validation_0-logloss:0.43891
[31]	validation_0-logloss:0.43737
[32]	validation_0-logloss:0.43600
[33]	validation_0-logloss:0.43413
[34]	validation_0-logloss:0.43233
[35]	validation_0-logloss:0.43179
[36]	validation_0-logloss:0.43081
[37]	validation_0-logloss:0.42904
[38]	validation_0-logloss:0.42857
[39]	validation_0-logloss:0.42720
[40]	validation_0-logloss:0.42589
[41]	validation_0-logloss:0.42515
[42]	validation_0-logloss:0.42475
[43]	validation_0-logloss:0.42415
[44]	validation_0-logloss:0.42324
[45]	validation_0-logloss:0.42325
[46]	validation_0-logloss:0.42249
[47]	validation_0-logloss:0.42181
[48]	validation_0-logloss:0.42070
[49]	validation_0-logloss:0.42022
[50]	validation_0-logloss:0.42007
[51]	validation_0-logloss:0.41974
[52]	validation_0-logloss:0.41980
[53]	validation_0-logloss:0.41911
[54]	validation_0-logloss:0.41908
[55]	validation_0-logloss:0.41854
[56]	validation_0-logloss:0.41830
[57]	validation_0-logloss:0.41903
[58]	validation_0-logloss:0.41794
[59]	validation_0-logloss:0.41783
[60]	validation_0-logloss:0.41819
[61]	validation_0-logloss:0.41813
[62]	validation_0-logloss:0.41800
[63]	validation_0-logloss:0.41829
[64]	validation_0-logloss:0.41813
[65]	validation_0-logloss:0.41835
[66]	validation_0-logloss:0.41860
[67]	validation_0-logloss:0.41874
[68]	validation_0-logloss:0.41876
[69]	validation_0-logloss:0.41898
[70]	validation_0-logloss:0.41827
[71]	validation_0-logloss:0.41857
[72]	validation_0-logloss:0.41833
[73]	validation_0-logloss:0.41800
[74]	validation_0-logloss:0.41855
[75]	validation_0-logloss:0.41793
[76]	validation_0-logloss:0.41748
[77]	validation_0-logloss:0.41730
[78]	validation_0-logloss:0.41690
[79]	validation_0-logloss:0.41690
[80]	validation_0-logloss:0.41693
[81]	validation_0-logloss:0.41656
[82]	validation_0-logloss:0.41676
[83]	validation_0-logloss:0.41693
[84]	validation_0-logloss:0.41694
[85]	validation_0-logloss:0.41678
[86]	validation_0-logloss:0.41669
[87]	validation_0-logloss:0.41650
[88]	validation_0-logloss:0.41632
[89]	validation_0-logloss:0.41660
[90]	validation_0-logloss:0.41692
[91]	validation_0-logloss:0.41713
[92]	validation_0-logloss:0.41685
[93]	validation_0-logloss:0.41724
[94]	validation_0-logloss:0.41710
[95]	validation_0-logloss:0.41666
[96]	validation_0-logloss:0.41627
[97]	validation_0-logloss:0.41587
[98]	validation_0-logloss:0.41571
[99]	validation_0-logloss:0.41586
[100]	validation_0-logloss:0.41626
[101]	validation_0-logloss:0.41649
[102]	validation_0-logloss:0.41690
[103]	validation_0-logloss:0.41720
[104]	validation_0-logloss:0.41709
[105]	validation_0-logloss:0.41717
[106]	validation_0-logloss:0.41780
[107]	validation_0-logloss:0.41811
[108]	validation_0-logloss:0.41822
[109]	validation_0-logloss:0.41808
[110]	validation_0-logloss:0.41853
[111]	validation_0-logloss:0.41841
[112]	validation_0-logloss:0.41920
[113]	validation_0-logloss:0.41956
[114]	validation_0-logloss:0.41999
[115]	validation_0-logloss:0.41994
[116]	validation_0-logloss:0.42038
[117]	validation_0-logloss:0.42028
[118]	validation_0-logloss:0.42053
[119]	validation_0-logloss:0.42031
[120]	validation_0-logloss:0.42113
[121]	validation_0-logloss:0.42106
[122]	validation_0-logloss:0.42174
[123]	validation_0-logloss:0.42171
[124]	validation_0-logloss:0.42181
[125]	validation_0-logloss:0.42268
[126]	validation_0-logloss:0.42225
[127]	validation_0-logloss:0.42286
[128]	validation_0-logloss:0.42277
[129]	validation_0-logloss:0.42246
[130]	validation_0-logloss:0.42326
[131]	validation_0-logloss:0.42317
[132]	validation_0-logloss:0.42357
[133]	validation_0-logloss:0.42316
[134]	validation_0-logloss:0.42359
[135]	validation_0-logloss:0.42419
[136]	validation_0-logloss:0.42393
[137]	validation_0-logloss:0.42474
[138]	validation_0-logloss:0.42472
[139]	validation_0-logloss:0.42481
[140]	validation_0-logloss:0.42419
[141]	validation_0-logloss:0.42407
[142]	validation_0-logloss:0.42498
[143]	validation_0-logloss:0.42545
[144]	validation_0-logloss:0.42532
[145]	validation_0-logloss:0.42650
[146]	validation_0-logloss:0.42751
[147]	validation_0-logloss:0.42762
[148]	validation_0-logloss:0.42803

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=50,
              enable_categorical=False, eval_metric=None, feature_types=None,
              feature_weights=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=0.05, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=5,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=1000,
              n_jobs=-1, num_parallel_tree=None, ...)

In [84]:
y_pred=model.predict(X_test)

In [85]:
T=pd.DataFrame({'Thuc te':y_test, 'Du doan':y_pred})
T.head(10)

             Thuc te  Du doan
PassengerId
710                1        0
440                0        0
841                0        0
721                1        1
40                 1        1
291                1        1
301                1        1
334                0        0
209                1        1
137                1        1

In [86]:
Score=model.score(X_test, y_test)
Score

0.8100558659217877

In [87]:
y_pred=model.predict(test_df.drop(columns=['Name','Ticket','Cabin']))

In [88]:
B=pd.DataFrame({'PassengerId':test_df.index, 'Survived':y_pred})
B.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0